.header {
  position: absolute;
  right: 0;
  background: none;
  text-align: left;
  padding: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-header ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
}

.bubble {
  width: 75px;
  height: 75px;
  background-color: var(--bubble-color, var(--text-color));
  color: var(--text-color);
  border-radius: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  position: relative;
  transition: 0.8s ease-in-out;
  -webkit-transition: -moz-transform 0.8s ease-in-out;
  -moz-transition: -webkit-transform 0.8s ease-in-out;

  transition: width 0.4s ease-in-out;
  overflow: hidden;
}
.bubble:active {
  transform: scale(0.95);
}
.bubble:hover {
  width: 200px;
  cursor: pointer;
}

.bubble-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
}

.bubble-text::after {
  content: "";
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.bubble:hover .bubble-text::after {
  content: attr(data-hover);
  opacity: 1;
}

/* .hamburger-menu {
    color: var(--text-color);
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
} */
@media screen and (max-width: 768px ) {
  .bubble {
    width: 65px;
    height: 65px;
    font-size: 30px;
  }
  .bubble:hover .bubble-text::after {
    display: none;
  }
  .bubble.selected {
    width: 160px;
  }
  .bubble:hover {
    width: 125px;
  }
  .bubble.selected .bubble-text::after {
    content: attr(data-hover);
    opacity: 1;
  }

  .header {
    padding: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
  }
  /* 
    .hamburger-menu {
        display: block;
    } */

  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .nav-header.open {
    display: flex;
  }

  .nav-header ul {
    flex-direction: row;
    padding: 0;
  }
}
