.wrapper {
  height: 0px;
}
.stars-box {
  height: 100vh;
  position: absolute;
  z-index: 0;
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow:
    779px 1331px #ffffff4c,
    324px 42px #ffffff4c,
    303px 586px #ffffff4c,
    1312px 276px #ffffff4c,
    451px 625px #ffffff4c,
    521px 1931px #ffffff4c,
    1087px 1871px #ffffff4c,
    36px 1546px #ffffff4c,
    132px 934px #ffffff4c,
    1698px 901px #ffffff4c,
    1418px 664px #ffffff4c,
    1448px 1157px #ffffff4c,
    1084px 232px #ffffff4c,
    347px 1776px #ffffff4c,
    1722px 243px #ffffff4c,
    1629px 835px #ffffff4c,
    479px 969px #ffffff4c,
    1231px 960px #ffffff4c,
    586px 384px #ffffff4c,
    164px 527px #ffffff4c,
    8px 646px #ffffff4c,
    1150px 1126px #ffffff4c,
    665px 1357px #ffffff4c,
    1556px 1982px #ffffff4c,
    1260px 1961px #ffffff4c,
    1675px 1741px #ffffff4c,
    1843px 1514px #ffffff4c,
    718px 1628px #ffffff4c,
    242px 1343px #ffffff4c,
    1497px 1880px #ffffff4c,
    1364px 230px #ffffff4c,
    1739px 1302px #ffffff4c,
    636px 959px #ffffff4c,
    304px 686px #ffffff4c,
    614px 751px #ffffff4c,
    1935px 816px #ffffff4c,
    1428px 60px #ffffff4c,
    355px 335px #ffffff4c,
    1594px 158px #ffffff4c,
    90px 60px #ffffff4c,
    1553px 162px #ffffff4c,
    1239px 1825px #ffffff4c,
    1945px 587px #ffffff4c,
    749px 1785px #ffffff4c,
    1987px 1172px #ffffff4c,
    1301px 1237px #ffffff4c,
    1039px 342px #ffffff4c,
    1585px 1481px #ffffff4c,
    995px 1048px #ffffff4c,
    524px 932px #ffffff4c,
    214px 413px #ffffff4c,
    1701px 1300px #ffffff4c,
    1037px 1613px #ffffff4c,
    1871px 996px #ffffff4c,
    1360px 1635px #ffffff4c,
    1110px 1313px #ffffff4c,
    412px 1783px #ffffff4c,
    1949px 177px #ffffff4c,
    903px 1854px #ffffff4c,
    700px 1936px #ffffff4c,
    378px 125px #ffffff4c,
    308px 834px #ffffff4c,
    1118px 962px #ffffff4c,
    1350px 1929px #ffffff4c,
    781px 1811px #ffffff4c,
    561px 137px #ffffff4c,
    757px 1148px #ffffff4c,
    1670px 1979px #ffffff4c,
    343px 739px #ffffff4c,
    945px 795px #ffffff4c,
    576px 1903px #ffffff4c,
    1078px 1436px #ffffff4c,
    1583px 450px #ffffff4c,
    1366px 474px #ffffff4c,
    297px 1873px #ffffff4c,
    192px 162px #ffffff4c,
    1624px 1633px #ffffff4c,
    59px 453px #ffffff4c,
    82px 1872px #ffffff4c,
    1933px 498px #ffffff4c,
    1966px 1974px #ffffff4c,
    1975px 1688px #ffffff4c,
    779px 314px #ffffff4c,
    1858px 1543px #ffffff4c,
    73px 1507px #ffffff4c,
    1693px 975px #ffffff4c,
    1683px 108px #ffffff4c,
    1768px 1654px #ffffff4c,
    654px 14px #ffffff4c,
    494px 171px #ffffff4c,
    1689px 1895px #ffffff4c,
    1660px 263px #ffffff4c,
    1031px 903px #ffffff4c,
    1203px 1393px #ffffff4c,
    1333px 1421px #ffffff4c,
    1113px 41px #ffffff4c,
    1206px 1645px #ffffff4c,
    1325px 1635px #ffffff4c,
    142px 388px #ffffff4c,
    572px 215px #ffffff4c,
    1535px 296px #ffffff4c,
    1419px 407px #ffffff4c,
    1379px 1003px #ffffff4c,
    329px 469px #ffffff4c,
    1791px 1652px #ffffff4c,
    935px 1802px #ffffff4c,
    1330px 1820px #ffffff4c,
    421px 1933px #ffffff4c,
    828px 365px #ffffff4c,
    275px 316px #ffffff4c,
    707px 960px #ffffff4c,
    1605px 1554px #ffffff4c,
    625px 58px #ffffff4c,
    717px 1697px #ffffff4c,
    1669px 246px #ffffff4c,
    1925px 322px #ffffff4c,
    1154px 1803px #ffffff4c,
    1929px 295px #ffffff4c,
    1248px 240px #ffffff4c,
    1045px 1755px #ffffff4c,
    166px 942px #ffffff4c,
    1888px 1773px #ffffff4c,
    678px 1963px #ffffff4c,
    1370px 569px #ffffff4c,
    1974px 1400px #ffffff4c,
    1786px 460px #ffffff4c,
    51px 307px #ffffff4c,
    784px 1400px #ffffff4c,
    730px 1258px #ffffff4c,
    1712px 393px #ffffff4c,
    416px 170px #ffffff4c,
    1797px 1932px #ffffff4c,
    572px 219px #ffffff4c,
    1557px 1856px #ffffff4c,
    218px 8px #ffffff4c,
    348px 1334px #ffffff4c,
    469px 413px #ffffff4c,
    385px 1738px #ffffff4c,
    1357px 1818px #ffffff4c,
    240px 942px #ffffff4c,
    248px 1847px #ffffff4c,
    1535px 806px #ffffff4c,
    236px 1514px #ffffff4c,
    1429px 1556px #ffffff4c,
    73px 1633px #ffffff4c,
    1398px 1121px #ffffff4c,
    671px 1301px #ffffff4c,
    1404px 1663px #ffffff4c,
    740px 1018px #ffffff4c,
    1600px 377px #ffffff4c,
    785px 514px #ffffff4c,
    112px 1084px #ffffff4c,
    1915px 1887px #ffffff4c,
    1463px 1848px #ffffff4c,
    687px 1115px #ffffff4c,
    1268px 1768px #ffffff4c,
    1729px 1425px #ffffff4c,
    1284px 1022px #ffffff4c,
    801px 974px #ffffff4c,
    1975px 1317px #ffffff4c,
    1354px 834px #ffffff4c,
    1446px 1484px #ffffff4c,
    1283px 1786px #ffffff4c,
    11px 523px #ffffff4c,
    1842px 236px #ffffff4c,
    1355px 654px #ffffff4c,
    429px 7px #ffffff4c,
    1033px 1128px #ffffff4c,
    157px 297px #ffffff4c,
    545px 635px #ffffff4c,
    52px 1080px #ffffff4c,
    827px 1520px #ffffff4c,
    1121px 490px #ffffff4c,
    9px 309px #ffffff4c,
    1744px 1586px #ffffff4c,
    1014px 417px #ffffff4c,
    1534px 524px #ffffff4c,
    958px 552px #ffffff4c,
    1403px 1496px #ffffff4c,
    387px 703px #ffffff4c,
    1522px 548px #ffffff4c,
    1355px 282px #ffffff4c,
    1532px 601px #ffffff4c,
    1838px 790px #ffffff4c,
    290px 259px #ffffff4c,
    295px 598px #ffffff4c,
    1601px 539px #ffffff4c,
    1561px 1272px #ffffff4c,
    34px 1922px #ffffff4c,
    1024px 543px #ffffff4c,
    467px 369px #ffffff4c,
    722px 333px #ffffff4c,
    1976px 1255px #ffffff4c,
    766px 983px #ffffff4c,
    1582px 1285px #ffffff4c,
    12px 512px #ffffff4c,
    617px 1410px #ffffff4c,
    682px 577px #ffffff4c,
    1334px 1438px #ffffff4c,
    439px 327px #ffffff4c,
    1617px 1661px #ffffff4c,
    673px 129px #ffffff4c,
    794px 941px #ffffff4c,
    1386px 1902px #ffffff4c,
    37px 1353px #ffffff4c,
    1467px 1353px #ffffff4c,
    416px 18px #ffffff4c,
    187px 344px #ffffff4c,
    200px 1898px #ffffff4c,
    1491px 1619px #ffffff4c,
    811px 347px #ffffff4c,
    924px 1827px #ffffff4c,
    945px 217px #ffffff4c,
    1735px 1228px #ffffff4c,
    379px 1890px #ffffff4c,
    79px 761px #ffffff4c,
    825px 1837px #ffffff4c,
    1980px 1558px #ffffff4c,
    1308px 1573px #ffffff4c,
    1488px 1726px #ffffff4c,
    382px 1208px #ffffff4c,
    522px 595px #ffffff4c,
    1277px 1898px #ffffff4c,
    354px 552px #ffffff4c,
    161px 1784px #ffffff4c,
    614px 251px #ffffff4c,
    526px 1576px #ffffff4c,
    17px 212px #ffffff4c,
    179px 996px #ffffff4c,
    467px 1208px #ffffff4c,
    1944px 1838px #ffffff4c,
    1140px 1093px #ffffff4c,
    858px 1007px #ffffff4c,
    200px 1064px #ffffff4c,
    423px 1964px #ffffff4c,
    1945px 439px #ffffff4c,
    1377px 689px #ffffff4c,
    1120px 1437px #ffffff4c,
    1876px 668px #ffffff4c,
    907px 1324px #ffffff4c,
    343px 1976px #ffffff4c,
    1816px 1501px #ffffff4c,
    1849px 177px #ffffff4c,
    647px 91px #ffffff4c,
    1984px 1012px #ffffff4c,
    1336px 1300px #ffffff4c,
    128px 648px #ffffff4c,
    305px 1060px #ffffff4c,
    1324px 826px #ffffff4c,
    1263px 1314px #ffffff4c,
    1801px 629px #ffffff4c,
    1614px 1555px #ffffff4c,
    1634px 90px #ffffff4c,
    1603px 452px #ffffff4c,
    891px 1984px #ffffff4c,
    1556px 1906px #ffffff4c,
    121px 68px #ffffff4c,
    1676px 1714px #ffffff4c,
    516px 936px #ffffff4c,
    1947px 1492px #ffffff4c,
    1455px 1519px #ffffff4c,
    45px 602px #ffffff4c,
    205px 1039px #ffffff4c,
    793px 172px #ffffff4c,
    1562px 1739px #ffffff4c,
    1056px 110px #ffffff4c,
    1512px 379px #ffffff4c,
    1795px 1621px #ffffff4c,
    1848px 607px #ffffff4c,
    262px 1719px #ffffff4c,
    477px 991px #ffffff4c,
    483px 883px #ffffff4c,
    1239px 1197px #ffffff4c,
    1496px 647px #ffffff4c,
    1649px 25px #ffffff4c,
    1491px 1946px #ffffff4c,
    119px 996px #ffffff4c,
    179px 1472px #ffffff4c,
    1341px 808px #ffffff4c,
    1565px 1700px #ffffff4c,
    407px 1544px #ffffff4c,
    1754px 357px #ffffff4c,
    1288px 981px #ffffff4c,
    902px 1997px #ffffff4c,
    1755px 1668px #ffffff4c,
    186px 877px #ffffff4c,
    1202px 1882px #ffffff4c,
    461px 1213px #ffffff4c,
    1400px 748px #ffffff4c,
    1969px 1899px #ffffff4c,
    809px 522px #ffffff4c,
    514px 1219px #ffffff4c,
    374px 275px #ffffff4c,
    938px 1973px #ffffff4c,
    357px 552px #ffffff4c,
    144px 1722px #ffffff4c,
    1572px 912px #ffffff4c,
    402px 1858px #ffffff4c,
    1544px 1195px #ffffff4c,
    667px 1257px #ffffff4c,
    727px 1496px #ffffff4c,
    993px 232px #ffffff4c,
    1772px 313px #ffffff4c,
    1040px 1590px #ffffff4c,
    1204px 1973px #ffffff4c,
    1268px 79px #ffffff4c,
    1555px 1048px #ffffff4c,
    986px 1707px #ffffff4c,
    978px 1710px #ffffff4c,
    713px 360px #ffffff4c,
    407px 863px #ffffff4c,
    461px 736px #ffffff4c,
    284px 1608px #ffffff4c,
    103px 430px #ffffff4c,
    1283px 1319px #ffffff4c,
    977px 1186px #ffffff4c,
    1966px 1516px #ffffff4c,
    1287px 1129px #ffffff4c,
    70px 1098px #ffffff4c,
    1189px 889px #ffffff4c,
    1126px 1734px #ffffff4c,
    309px 1292px #ffffff4c,
    879px 764px #ffffff4c,
    65px 473px #ffffff4c,
    1003px 1959px #ffffff4c,
    658px 791px #ffffff4c,
    402px 1576px #ffffff4c,
    35px 622px #ffffff4c,
    529px 1589px #ffffff4c,
    164px 666px #ffffff4c,
    1876px 1290px #ffffff4c,
    1541px 526px #ffffff4c,
    270px 1297px #ffffff4c,
    440px 865px #ffffff4c,
    1500px 802px #ffffff4c,
    182px 1754px #ffffff4c,
    1264px 892px #ffffff4c,
    272px 1249px #ffffff4c,
    1289px 1535px #ffffff4c,
    190px 1646px #ffffff4c,
    955px 242px #ffffff4c,
    1456px 1597px #ffffff4c,
    1727px 1983px #ffffff4c,
    635px 801px #ffffff4c,
    226px 455px #ffffff4c,
    1396px 1710px #ffffff4c,
    849px 1863px #ffffff4c,
    237px 1264px #ffffff4c,
    839px 140px #ffffff4c,
    1122px 735px #ffffff4c,
    1280px 15px #ffffff4c,
    1318px 242px #ffffff4c,
    1819px 1148px #ffffff4c,
    333px 1392px #ffffff4c,
    1949px 553px #ffffff4c,
    1878px 1332px #ffffff4c,
    467px 548px #ffffff4c,
    1812px 1082px #ffffff4c,
    1067px 193px #ffffff4c,
    243px 156px #ffffff4c,
    483px 1616px #ffffff4c,
    1714px 933px #ffffff4c,
    759px 1800px #ffffff4c,
    1822px 995px #ffffff4c,
    1877px 572px #ffffff4c,
    581px 1084px #ffffff4c,
    107px 732px #ffffff4c,
    642px 1837px #ffffff4c,
    166px 1493px #ffffff4c,
    1555px 198px #ffffff4c,
    819px 307px #ffffff4c,
    947px 345px #ffffff4c,
    827px 224px #ffffff4c,
    927px 1394px #ffffff4c,
    540px 467px #ffffff4c,
    1093px 405px #ffffff4c,
    1140px 927px #ffffff4c,
    130px 529px #ffffff4c,
    33px 1980px #ffffff4c,
    1147px 1663px #ffffff4c,
    1616px 1436px #ffffff4c,
    528px 710px #ffffff4c,
    798px 1100px #ffffff4c,
    505px 1480px #ffffff4c,
    899px 641px #ffffff4c,
    1909px 1949px #ffffff4c,
    1311px 964px #ffffff4c,
    979px 1301px #ffffff4c,
    1393px 969px #ffffff4c,
    1793px 1886px #ffffff4c,
    292px 357px #ffffff4c,
    1196px 1718px #ffffff4c,
    1290px 1994px #ffffff4c,
    537px 1973px #ffffff4c,
    1181px 1674px #ffffff4c,
    1740px 1566px #ffffff4c,
    1307px 265px #ffffff4c,
    922px 522px #ffffff4c,
    1892px 472px #ffffff4c,
    384px 1746px #ffffff4c,
    392px 1098px #ffffff4c,
    647px 548px #ffffff4c,
    390px 1498px #ffffff4c,
    1246px 138px #ffffff4c,
    730px 876px #ffffff4c,
    192px 1472px #ffffff4c,
    1790px 1789px #ffffff4c,
    928px 311px #ffffff4c,
    1253px 1647px #ffffff4c,
    747px 1921px #ffffff4c,
    1561px 1025px #ffffff4c,
    1533px 1292px #ffffff4c,
    1985px 195px #ffffff4c,
    728px 729px #ffffff4c,
    1712px 1936px #ffffff4c,
    512px 1717px #ffffff4c,
    1528px 483px #ffffff4c,
    313px 1642px #ffffff4c,
    281px 1849px #ffffff4c,
    1212px 799px #ffffff4c,
    435px 1191px #ffffff4c,
    1422px 611px #ffffff4c,
    1718px 1964px #ffffff4c,
    411px 944px #ffffff4c,
    210px 636px #ffffff4c,
    1502px 1295px #ffffff4c,
    1434px 349px #ffffff4c,
    769px 60px #ffffff4c,
    747px 1053px #ffffff4c,
    789px 504px #ffffff4c,
    1436px 1264px #ffffff4c,
    1893px 1225px #ffffff4c,
    1394px 1788px #ffffff4c,
    1108px 1317px #ffffff4c,
    1673px 1395px #ffffff4c,
    854px 1010px #ffffff4c,
    1705px 80px #ffffff4c,
    1858px 148px #ffffff4c,
    1729px 344px #ffffff4c,
    1388px 664px #ffffff4c,
    895px 406px #ffffff4c,
    1479px 157px #ffffff4c,
    1441px 1157px #ffffff4c,
    552px 1900px #ffffff4c,
    516px 364px #ffffff4c,
    1647px 189px #ffffff4c,
    1427px 1071px #ffffff4c,
    785px 729px #ffffff4c,
    1080px 1710px #ffffff4c,
    504px 204px #ffffff4c,
    1177px 1622px #ffffff4c,
    657px 34px #ffffff4c,
    1296px 1099px #ffffff4c,
    248px 180px #ffffff4c,
    1212px 1568px #ffffff4c,
    667px 1562px #ffffff4c,
    695px 841px #ffffff4c,
    1608px 1247px #ffffff4c,
    751px 882px #ffffff4c,
    87px 167px #ffffff4c,
    607px 1368px #ffffff4c,
    1363px 1203px #ffffff4c,
    1836px 317px #ffffff4c,
    1668px 1703px #ffffff4c,
    830px 1154px #ffffff4c,
    1721px 1398px #ffffff4c,
    1601px 1280px #ffffff4c,
    976px 874px #ffffff4c,
    1743px 254px #ffffff4c,
    1020px 1815px #ffffff4c,
    1670px 1766px #ffffff4c,
    1890px 735px #ffffff4c,
    1379px 136px #ffffff4c,
    1864px 695px #ffffff4c,
    206px 965px #ffffff4c,
    1404px 1932px #ffffff4c,
    1923px 1360px #ffffff4c,
    247px 682px #ffffff4c,
    519px 1708px #ffffff4c,
    645px 750px #ffffff4c,
    1164px 1204px #ffffff4c,
    834px 323px #ffffff4c,
    172px 1350px #ffffff4c,
    213px 972px #ffffff4c,
    1837px 190px #ffffff4c,
    285px 1806px #ffffff4c,
    1047px 1299px #ffffff4c,
    1548px 825px #ffffff4c,
    1730px 324px #ffffff4c,
    1346px 1909px #ffffff4c,
    772px 270px #ffffff4c,
    345px 1190px #ffffff4c,
    478px 1433px #ffffff4c,
    1479px 25px #ffffff4c,
    1994px 1830px #ffffff4c,
    1744px 732px #ffffff4c,
    20px 1635px #ffffff4c,
    690px 1795px #ffffff4c,
    1594px 569px #ffffff4c,
    579px 245px #ffffff4c,
    1398px 733px #ffffff4c,
    408px 1352px #ffffff4c,
    1774px 120px #ffffff4c,
    1152px 1370px #ffffff4c,
    1698px 1810px #ffffff4c,
    710px 1450px #ffffff4c,
    665px 286px #ffffff4c,
    493px 1720px #ffffff4c,
    786px 5px #ffffff4c,
    637px 1140px #ffffff4c,
    764px 324px #ffffff4c,
    927px 310px #ffffff4c,
    938px 1424px #ffffff4c,
    1884px 744px #ffffff4c,
    913px 462px #ffffff4c,
    1831px 1936px #ffffff4c,
    1527px 249px #ffffff4c,
    36px 1381px #ffffff4c,
    1597px 581px #ffffff4c,
    1530px 355px #ffffff4c,
    949px 459px #ffffff4c,
    799px 828px #ffffff4c,
    242px 1471px #ffffff4c,
    654px 797px #ffffff4c,
    796px 594px #ffffff4c,
    1365px 678px #ffffff4c,
    752px 23px #ffffff4c,
    1630px 541px #ffffff4c,
    982px 72px #ffffff4c,
    1733px 1831px #ffffff4c,
    21px 412px #ffffff4c,
    775px 998px #ffffff4c,
    335px 1945px #ffffff4c,
    264px 583px #ffffff4c,
    158px 1311px #ffffff4c,
    528px 164px #ffffff4c,
    1978px 574px #ffffff4c,
    717px 1203px #ffffff4c,
    734px 1591px #ffffff4c,
    1555px 820px #ffffff4c,
    16px 1943px #ffffff4c,
    1625px 1177px #ffffff4c,
    1236px 690px #ffffff4c,
    1585px 1590px #ffffff4c,
    1737px 1728px #ffffff4c,
    721px 698px #ffffff4c,
    1804px 1186px #ffffff4c,
    166px 980px #ffffff4c,
    1850px 230px #ffffff4c,
    330px 1712px #ffffff4c,
    95px 797px #ffffff4c,
    1948px 1078px #ffffff4c,
    469px 939px #ffffff4c,
    1269px 1899px #ffffff4c,
    955px 1220px #ffffff4c,
    1137px 1075px #ffffff4c,
    312px 1293px #ffffff4c,
    986px 1762px #ffffff4c,
    1103px 1238px #ffffff4c,
    428px 1993px #ffffff4c,
    355px 570px #ffffff4c,
    977px 1836px #ffffff4c,
    1395px 1092px #ffffff4c,
    276px 913px #ffffff4c,
    1743px 656px #ffffff4c,
    773px 502px #ffffff4c,
    1686px 1322px #ffffff4c,
    1516px 1945px #ffffff4c,
    1334px 501px #ffffff4c,
    266px 156px #ffffff4c,
    455px 655px #ffffff4c,
    798px 72px #ffffff4c,
    1059px 1259px #ffffff4c,
    1402px 1687px #ffffff4c,
    236px 1329px #ffffff4c,
    1455px 786px #ffffff4c,
    146px 1228px #ffffff4c,
    1851px 823px #ffffff4c,
    1062px 100px #ffffff4c,
    1220px 953px #ffffff4c,
    20px 1826px #ffffff4c,
    36px 1063px #ffffff4c,
    1525px 338px #ffffff4c,
    790px 1521px #ffffff4c,
    741px 1099px #ffffff4c,
    288px 1489px #ffffff4c,
    700px 1060px #ffffff4c,
    390px 1071px #ffffff4c,
    411px 1036px #ffffff4c,
    1853px 1072px #ffffff4c,
    1446px 1085px #ffffff4c,
    1164px 874px #ffffff4c,
    924px 925px #ffffff4c,
    291px 271px #ffffff4c,
    1257px 1964px #ffffff4c,
    1580px 1352px #ffffff4c,
    1507px 1216px #ffffff4c,
    211px 956px #ffffff4c,
    985px 1195px #ffffff4c,
    975px 1640px #ffffff4c,
    518px 101px #ffffff4c,
    663px 1395px #ffffff4c,
    914px 532px #ffffff4c,
    145px 1320px #ffffff4c,
    69px 1397px #ffffff4c,
    982px 523px #ffffff4c,
    257px 725px #ffffff4c,
    1599px 831px #ffffff4c,
    1636px 1513px #ffffff4c,
    1250px 1158px #ffffff4c,
    1132px 604px #ffffff4c,
    183px 102px #ffffff4c,
    1057px 318px #ffffff4c,
    1247px 1835px #ffffff4c,
    1983px 1110px #ffffff4c,
    1077px 1455px #ffffff4c,
    921px 1770px #ffffff4c,
    806px 1350px #ffffff4c,
    1938px 1992px #ffffff4c,
    855px 1260px #ffffff4c,
    902px 1345px #ffffff4c,
    658px 1908px #ffffff4c,
    1845px 679px #ffffff4c,
    712px 1482px #ffffff4c,
    595px 950px #ffffff4c,
    1784px 1992px #ffffff4c,
    1847px 1785px #ffffff4c,
    691px 1004px #ffffff4c,
    175px 1179px #ffffff4c,
    1666px 1911px #ffffff4c,
    41px 61px #ffffff4c,
    971px 1080px #ffffff4c,
    1830px 1450px #ffffff4c,
    1351px 1518px #ffffff4c,
    1257px 99px #ffffff4c,
    1395px 1498px #ffffff4c,
    1117px 252px #ffffff4c,
    1779px 597px #ffffff4c,
    1346px 729px #ffffff4c,
    1108px 1144px #ffffff4c,
    402px 691px #ffffff4c,
    72px 496px #ffffff4c,
    1673px 1604px #ffffff4c,
    1497px 974px #ffffff4c,
    1865px 1664px #ffffff4c,
    88px 806px #ffffff4c,
    918px 77px #ffffff4c,
    244px 1118px #ffffff4c,
    256px 1820px #ffffff4c,
    1851px 1840px #ffffff4c,
    605px 1851px #ffffff4c,
    634px 383px #ffffff4c,
    865px 37px #ffffff4c,
    943px 1024px #ffffff4c,
    1951px 177px #ffffff4c,
    1097px 523px #ffffff4c,
    985px 1700px #ffffff4c,
    1243px 122px #ffffff4c,
    768px 1070px #ffffff4c,
    468px 194px #ffffff4c,
    320px 1867px #ffffff4c,
    1850px 185px #ffffff4c,
    380px 1616px #ffffff4c,
    468px 1294px #ffffff4c,
    1122px 1743px #ffffff4c,
    884px 299px #ffffff4c,
    1300px 1917px #ffffff4c,
    1860px 396px #ffffff4c,
    1270px 990px #ffffff4c,
    529px 733px #ffffff4c,
    1975px 1347px #ffffff4c,
    1885px 685px #ffffff4c,
    226px 506px #ffffff4c,
    651px 878px #ffffff4c,
    1323px 680px #ffffff4c,
    1284px 680px #ffffff4c,
    238px 1967px #ffffff4c,
    911px 174px #ffffff4c,
    1111px 521px #ffffff4c,
    1150px 85px #ffffff4c,
    794px 502px #ffffff4c,
    484px 1856px #ffffff4c,
    1809px 368px #ffffff4c,
    112px 953px #ffffff4c,
    590px 1009px #ffffff4c,
    1655px 311px #ffffff4c,
    100px 1026px #ffffff4c,
    1803px 352px #ffffff4c,
    865px 306px #ffffff4c,
    1077px 1019px #ffffff4c,
    1335px 872px #ffffff4c,
    1647px 1298px #ffffff4c,
    1233px 1387px #ffffff4c,
    698px 1036px #ffffff4c,
    659px 1860px #ffffff4c,
    388px 1412px #ffffff4c,
    1212px 458px #ffffff4c,
    755px 1468px #ffffff4c,
    696px 1654px #ffffff4c,
    1144px 60px #ffffff4c;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    779px 1331px #ffffff4c,
    324px 42px #ffffff4c,
    303px 586px #ffffff4c,
    1312px 276px #ffffff4c,
    451px 625px #ffffff4c,
    521px 1931px #ffffff4c,
    1087px 1871px #ffffff4c,
    36px 1546px #ffffff4c,
    132px 934px #ffffff4c,
    1698px 901px #ffffff4c,
    1418px 664px #ffffff4c,
    1448px 1157px #ffffff4c,
    1084px 232px #ffffff4c,
    347px 1776px #ffffff4c,
    1722px 243px #ffffff4c,
    1629px 835px #ffffff4c,
    479px 969px #ffffff4c,
    1231px 960px #ffffff4c,
    586px 384px #ffffff4c,
    164px 527px #ffffff4c,
    8px 646px #ffffff4c,
    1150px 1126px #ffffff4c,
    665px 1357px #ffffff4c,
    1556px 1982px #ffffff4c,
    1260px 1961px #ffffff4c,
    1675px 1741px #ffffff4c,
    1843px 1514px #ffffff4c,
    718px 1628px #ffffff4c,
    242px 1343px #ffffff4c,
    1497px 1880px #ffffff4c,
    1364px 230px #ffffff4c,
    1739px 1302px #ffffff4c,
    636px 959px #ffffff4c,
    304px 686px #ffffff4c,
    614px 751px #ffffff4c,
    1935px 816px #ffffff4c,
    1428px 60px #ffffff4c,
    355px 335px #ffffff4c,
    1594px 158px #ffffff4c,
    90px 60px #ffffff4c,
    1553px 162px #ffffff4c,
    1239px 1825px #ffffff4c,
    1945px 587px #ffffff4c,
    749px 1785px #ffffff4c,
    1987px 1172px #ffffff4c,
    1301px 1237px #ffffff4c,
    1039px 342px #ffffff4c,
    1585px 1481px #ffffff4c,
    995px 1048px #ffffff4c,
    524px 932px #ffffff4c,
    214px 413px #ffffff4c,
    1701px 1300px #ffffff4c,
    1037px 1613px #ffffff4c,
    1871px 996px #ffffff4c,
    1360px 1635px #ffffff4c,
    1110px 1313px #ffffff4c,
    412px 1783px #ffffff4c,
    1949px 177px #ffffff4c,
    903px 1854px #ffffff4c,
    700px 1936px #ffffff4c,
    378px 125px #ffffff4c,
    308px 834px #ffffff4c,
    1118px 962px #ffffff4c,
    1350px 1929px #ffffff4c,
    781px 1811px #ffffff4c,
    561px 137px #ffffff4c,
    757px 1148px #ffffff4c,
    1670px 1979px #ffffff4c,
    343px 739px #ffffff4c,
    945px 795px #ffffff4c,
    576px 1903px #ffffff4c,
    1078px 1436px #ffffff4c,
    1583px 450px #ffffff4c,
    1366px 474px #ffffff4c,
    297px 1873px #ffffff4c,
    192px 162px #ffffff4c,
    1624px 1633px #ffffff4c,
    59px 453px #ffffff4c,
    82px 1872px #ffffff4c,
    1933px 498px #ffffff4c,
    1966px 1974px #ffffff4c,
    1975px 1688px #ffffff4c,
    779px 314px #ffffff4c,
    1858px 1543px #ffffff4c,
    73px 1507px #ffffff4c,
    1693px 975px #ffffff4c,
    1683px 108px #ffffff4c,
    1768px 1654px #ffffff4c,
    654px 14px #ffffff4c,
    494px 171px #ffffff4c,
    1689px 1895px #ffffff4c,
    1660px 263px #ffffff4c,
    1031px 903px #ffffff4c,
    1203px 1393px #ffffff4c,
    1333px 1421px #ffffff4c,
    1113px 41px #ffffff4c,
    1206px 1645px #ffffff4c,
    1325px 1635px #ffffff4c,
    142px 388px #ffffff4c,
    572px 215px #ffffff4c,
    1535px 296px #ffffff4c,
    1419px 407px #ffffff4c,
    1379px 1003px #ffffff4c,
    329px 469px #ffffff4c,
    1791px 1652px #ffffff4c,
    935px 1802px #ffffff4c,
    1330px 1820px #ffffff4c,
    421px 1933px #ffffff4c,
    828px 365px #ffffff4c,
    275px 316px #ffffff4c,
    707px 960px #ffffff4c,
    1605px 1554px #ffffff4c,
    625px 58px #ffffff4c,
    717px 1697px #ffffff4c,
    1669px 246px #ffffff4c,
    1925px 322px #ffffff4c,
    1154px 1803px #ffffff4c,
    1929px 295px #ffffff4c,
    1248px 240px #ffffff4c,
    1045px 1755px #ffffff4c,
    166px 942px #ffffff4c,
    1888px 1773px #ffffff4c,
    678px 1963px #ffffff4c,
    1370px 569px #ffffff4c,
    1974px 1400px #ffffff4c,
    1786px 460px #ffffff4c,
    51px 307px #ffffff4c,
    784px 1400px #ffffff4c,
    730px 1258px #ffffff4c,
    1712px 393px #ffffff4c,
    416px 170px #ffffff4c,
    1797px 1932px #ffffff4c,
    572px 219px #ffffff4c,
    1557px 1856px #ffffff4c,
    218px 8px #ffffff4c,
    348px 1334px #ffffff4c,
    469px 413px #ffffff4c,
    385px 1738px #ffffff4c,
    1357px 1818px #ffffff4c,
    240px 942px #ffffff4c,
    248px 1847px #ffffff4c,
    1535px 806px #ffffff4c,
    236px 1514px #ffffff4c,
    1429px 1556px #ffffff4c,
    73px 1633px #ffffff4c,
    1398px 1121px #ffffff4c,
    671px 1301px #ffffff4c,
    1404px 1663px #ffffff4c,
    740px 1018px #ffffff4c,
    1600px 377px #ffffff4c,
    785px 514px #ffffff4c,
    112px 1084px #ffffff4c,
    1915px 1887px #ffffff4c,
    1463px 1848px #ffffff4c,
    687px 1115px #ffffff4c,
    1268px 1768px #ffffff4c,
    1729px 1425px #ffffff4c,
    1284px 1022px #ffffff4c,
    801px 974px #ffffff4c,
    1975px 1317px #ffffff4c,
    1354px 834px #ffffff4c,
    1446px 1484px #ffffff4c,
    1283px 1786px #ffffff4c,
    11px 523px #ffffff4c,
    1842px 236px #ffffff4c,
    1355px 654px #ffffff4c,
    429px 7px #ffffff4c,
    1033px 1128px #ffffff4c,
    157px 297px #ffffff4c,
    545px 635px #ffffff4c,
    52px 1080px #ffffff4c,
    827px 1520px #ffffff4c,
    1121px 490px #ffffff4c,
    9px 309px #ffffff4c,
    1744px 1586px #ffffff4c,
    1014px 417px #ffffff4c,
    1534px 524px #ffffff4c,
    958px 552px #ffffff4c,
    1403px 1496px #ffffff4c,
    387px 703px #ffffff4c,
    1522px 548px #ffffff4c,
    1355px 282px #ffffff4c,
    1532px 601px #ffffff4c,
    1838px 790px #ffffff4c,
    290px 259px #ffffff4c,
    295px 598px #ffffff4c,
    1601px 539px #ffffff4c,
    1561px 1272px #ffffff4c,
    34px 1922px #ffffff4c,
    1024px 543px #ffffff4c,
    467px 369px #ffffff4c,
    722px 333px #ffffff4c,
    1976px 1255px #ffffff4c,
    766px 983px #ffffff4c,
    1582px 1285px #ffffff4c,
    12px 512px #ffffff4c,
    617px 1410px #ffffff4c,
    682px 577px #ffffff4c,
    1334px 1438px #ffffff4c,
    439px 327px #ffffff4c,
    1617px 1661px #ffffff4c,
    673px 129px #ffffff4c,
    794px 941px #ffffff4c,
    1386px 1902px #ffffff4c,
    37px 1353px #ffffff4c,
    1467px 1353px #ffffff4c,
    416px 18px #ffffff4c,
    187px 344px #ffffff4c,
    200px 1898px #ffffff4c,
    1491px 1619px #ffffff4c,
    811px 347px #ffffff4c,
    924px 1827px #ffffff4c,
    945px 217px #ffffff4c,
    1735px 1228px #ffffff4c,
    379px 1890px #ffffff4c,
    79px 761px #ffffff4c,
    825px 1837px #ffffff4c,
    1980px 1558px #ffffff4c,
    1308px 1573px #ffffff4c,
    1488px 1726px #ffffff4c,
    382px 1208px #ffffff4c,
    522px 595px #ffffff4c,
    1277px 1898px #ffffff4c,
    354px 552px #ffffff4c,
    161px 1784px #ffffff4c,
    614px 251px #ffffff4c,
    526px 1576px #ffffff4c,
    17px 212px #ffffff4c,
    179px 996px #ffffff4c,
    467px 1208px #ffffff4c,
    1944px 1838px #ffffff4c,
    1140px 1093px #ffffff4c,
    858px 1007px #ffffff4c,
    200px 1064px #ffffff4c,
    423px 1964px #ffffff4c,
    1945px 439px #ffffff4c,
    1377px 689px #ffffff4c,
    1120px 1437px #ffffff4c,
    1876px 668px #ffffff4c,
    907px 1324px #ffffff4c,
    343px 1976px #ffffff4c,
    1816px 1501px #ffffff4c,
    1849px 177px #ffffff4c,
    647px 91px #ffffff4c,
    1984px 1012px #ffffff4c,
    1336px 1300px #ffffff4c,
    128px 648px #ffffff4c,
    305px 1060px #ffffff4c,
    1324px 826px #ffffff4c,
    1263px 1314px #ffffff4c,
    1801px 629px #ffffff4c,
    1614px 1555px #ffffff4c,
    1634px 90px #ffffff4c,
    1603px 452px #ffffff4c,
    891px 1984px #ffffff4c,
    1556px 1906px #ffffff4c,
    121px 68px #ffffff4c,
    1676px 1714px #ffffff4c,
    516px 936px #ffffff4c,
    1947px 1492px #ffffff4c,
    1455px 1519px #ffffff4c,
    45px 602px #ffffff4c,
    205px 1039px #ffffff4c,
    793px 172px #ffffff4c,
    1562px 1739px #ffffff4c,
    1056px 110px #ffffff4c,
    1512px 379px #ffffff4c,
    1795px 1621px #ffffff4c,
    1848px 607px #ffffff4c,
    262px 1719px #ffffff4c,
    477px 991px #ffffff4c,
    483px 883px #ffffff4c,
    1239px 1197px #ffffff4c,
    1496px 647px #ffffff4c,
    1649px 25px #ffffff4c,
    1491px 1946px #ffffff4c,
    119px 996px #ffffff4c,
    179px 1472px #ffffff4c,
    1341px 808px #ffffff4c,
    1565px 1700px #ffffff4c,
    407px 1544px #ffffff4c,
    1754px 357px #ffffff4c,
    1288px 981px #ffffff4c,
    902px 1997px #ffffff4c,
    1755px 1668px #ffffff4c,
    186px 877px #ffffff4c,
    1202px 1882px #ffffff4c,
    461px 1213px #ffffff4c,
    1400px 748px #ffffff4c,
    1969px 1899px #ffffff4c,
    809px 522px #ffffff4c,
    514px 1219px #ffffff4c,
    374px 275px #ffffff4c,
    938px 1973px #ffffff4c,
    357px 552px #ffffff4c,
    144px 1722px #ffffff4c,
    1572px 912px #ffffff4c,
    402px 1858px #ffffff4c,
    1544px 1195px #ffffff4c,
    667px 1257px #ffffff4c,
    727px 1496px #ffffff4c,
    993px 232px #ffffff4c,
    1772px 313px #ffffff4c,
    1040px 1590px #ffffff4c,
    1204px 1973px #ffffff4c,
    1268px 79px #ffffff4c,
    1555px 1048px #ffffff4c,
    986px 1707px #ffffff4c,
    978px 1710px #ffffff4c,
    713px 360px #ffffff4c,
    407px 863px #ffffff4c,
    461px 736px #ffffff4c,
    284px 1608px #ffffff4c,
    103px 430px #ffffff4c,
    1283px 1319px #ffffff4c,
    977px 1186px #ffffff4c,
    1966px 1516px #ffffff4c,
    1287px 1129px #ffffff4c,
    70px 1098px #ffffff4c,
    1189px 889px #ffffff4c,
    1126px 1734px #ffffff4c,
    309px 1292px #ffffff4c,
    879px 764px #ffffff4c,
    65px 473px #ffffff4c,
    1003px 1959px #ffffff4c,
    658px 791px #ffffff4c,
    402px 1576px #ffffff4c,
    35px 622px #ffffff4c,
    529px 1589px #ffffff4c,
    164px 666px #ffffff4c,
    1876px 1290px #ffffff4c,
    1541px 526px #ffffff4c,
    270px 1297px #ffffff4c,
    440px 865px #ffffff4c,
    1500px 802px #ffffff4c,
    182px 1754px #ffffff4c,
    1264px 892px #ffffff4c,
    272px 1249px #ffffff4c,
    1289px 1535px #ffffff4c,
    190px 1646px #ffffff4c,
    955px 242px #ffffff4c,
    1456px 1597px #ffffff4c,
    1727px 1983px #ffffff4c,
    635px 801px #ffffff4c,
    226px 455px #ffffff4c,
    1396px 1710px #ffffff4c,
    849px 1863px #ffffff4c,
    237px 1264px #ffffff4c,
    839px 140px #ffffff4c,
    1122px 735px #ffffff4c,
    1280px 15px #ffffff4c,
    1318px 242px #ffffff4c,
    1819px 1148px #ffffff4c,
    333px 1392px #ffffff4c,
    1949px 553px #ffffff4c,
    1878px 1332px #ffffff4c,
    467px 548px #ffffff4c,
    1812px 1082px #ffffff4c,
    1067px 193px #ffffff4c,
    243px 156px #ffffff4c,
    483px 1616px #ffffff4c,
    1714px 933px #ffffff4c,
    759px 1800px #ffffff4c,
    1822px 995px #ffffff4c,
    1877px 572px #ffffff4c,
    581px 1084px #ffffff4c,
    107px 732px #ffffff4c,
    642px 1837px #ffffff4c,
    166px 1493px #ffffff4c,
    1555px 198px #ffffff4c,
    819px 307px #ffffff4c,
    947px 345px #ffffff4c,
    827px 224px #ffffff4c,
    927px 1394px #ffffff4c,
    540px 467px #ffffff4c,
    1093px 405px #ffffff4c,
    1140px 927px #ffffff4c,
    130px 529px #ffffff4c,
    33px 1980px #ffffff4c,
    1147px 1663px #ffffff4c,
    1616px 1436px #ffffff4c,
    528px 710px #ffffff4c,
    798px 1100px #ffffff4c,
    505px 1480px #ffffff4c,
    899px 641px #ffffff4c,
    1909px 1949px #ffffff4c,
    1311px 964px #ffffff4c,
    979px 1301px #ffffff4c,
    1393px 969px #ffffff4c,
    1793px 1886px #ffffff4c,
    292px 357px #ffffff4c,
    1196px 1718px #ffffff4c,
    1290px 1994px #ffffff4c,
    537px 1973px #ffffff4c,
    1181px 1674px #ffffff4c,
    1740px 1566px #ffffff4c,
    1307px 265px #ffffff4c,
    922px 522px #ffffff4c,
    1892px 472px #ffffff4c,
    384px 1746px #ffffff4c,
    392px 1098px #ffffff4c,
    647px 548px #ffffff4c,
    390px 1498px #ffffff4c,
    1246px 138px #ffffff4c,
    730px 876px #ffffff4c,
    192px 1472px #ffffff4c,
    1790px 1789px #ffffff4c,
    928px 311px #ffffff4c,
    1253px 1647px #ffffff4c,
    747px 1921px #ffffff4c,
    1561px 1025px #ffffff4c,
    1533px 1292px #ffffff4c,
    1985px 195px #ffffff4c,
    728px 729px #ffffff4c,
    1712px 1936px #ffffff4c,
    512px 1717px #ffffff4c,
    1528px 483px #ffffff4c,
    313px 1642px #ffffff4c,
    281px 1849px #ffffff4c,
    1212px 799px #ffffff4c,
    435px 1191px #ffffff4c,
    1422px 611px #ffffff4c,
    1718px 1964px #ffffff4c,
    411px 944px #ffffff4c,
    210px 636px #ffffff4c,
    1502px 1295px #ffffff4c,
    1434px 349px #ffffff4c,
    769px 60px #ffffff4c,
    747px 1053px #ffffff4c,
    789px 504px #ffffff4c,
    1436px 1264px #ffffff4c,
    1893px 1225px #ffffff4c,
    1394px 1788px #ffffff4c,
    1108px 1317px #ffffff4c,
    1673px 1395px #ffffff4c,
    854px 1010px #ffffff4c,
    1705px 80px #ffffff4c,
    1858px 148px #ffffff4c,
    1729px 344px #ffffff4c,
    1388px 664px #ffffff4c,
    895px 406px #ffffff4c,
    1479px 157px #ffffff4c,
    1441px 1157px #ffffff4c,
    552px 1900px #ffffff4c,
    516px 364px #ffffff4c,
    1647px 189px #ffffff4c,
    1427px 1071px #ffffff4c,
    785px 729px #ffffff4c,
    1080px 1710px #ffffff4c,
    504px 204px #ffffff4c,
    1177px 1622px #ffffff4c,
    657px 34px #ffffff4c,
    1296px 1099px #ffffff4c,
    248px 180px #ffffff4c,
    1212px 1568px #ffffff4c,
    667px 1562px #ffffff4c,
    695px 841px #ffffff4c,
    1608px 1247px #ffffff4c,
    751px 882px #ffffff4c,
    87px 167px #ffffff4c,
    607px 1368px #ffffff4c,
    1363px 1203px #ffffff4c,
    1836px 317px #ffffff4c,
    1668px 1703px #ffffff4c,
    830px 1154px #ffffff4c,
    1721px 1398px #ffffff4c,
    1601px 1280px #ffffff4c,
    976px 874px #ffffff4c,
    1743px 254px #ffffff4c,
    1020px 1815px #ffffff4c,
    1670px 1766px #ffffff4c,
    1890px 735px #ffffff4c,
    1379px 136px #ffffff4c,
    1864px 695px #ffffff4c,
    206px 965px #ffffff4c,
    1404px 1932px #ffffff4c,
    1923px 1360px #ffffff4c,
    247px 682px #ffffff4c,
    519px 1708px #ffffff4c,
    645px 750px #ffffff4c,
    1164px 1204px #ffffff4c,
    834px 323px #ffffff4c,
    172px 1350px #ffffff4c,
    213px 972px #ffffff4c,
    1837px 190px #ffffff4c,
    285px 1806px #ffffff4c,
    1047px 1299px #ffffff4c,
    1548px 825px #ffffff4c,
    1730px 324px #ffffff4c,
    1346px 1909px #ffffff4c,
    772px 270px #ffffff4c,
    345px 1190px #ffffff4c,
    478px 1433px #ffffff4c,
    1479px 25px #ffffff4c,
    1994px 1830px #ffffff4c,
    1744px 732px #ffffff4c,
    20px 1635px #ffffff4c,
    690px 1795px #ffffff4c,
    1594px 569px #ffffff4c,
    579px 245px #ffffff4c,
    1398px 733px #ffffff4c,
    408px 1352px #ffffff4c,
    1774px 120px #ffffff4c,
    1152px 1370px #ffffff4c,
    1698px 1810px #ffffff4c,
    710px 1450px #ffffff4c,
    665px 286px #ffffff4c,
    493px 1720px #ffffff4c,
    786px 5px #ffffff4c,
    637px 1140px #ffffff4c,
    764px 324px #ffffff4c,
    927px 310px #ffffff4c,
    938px 1424px #ffffff4c,
    1884px 744px #ffffff4c,
    913px 462px #ffffff4c,
    1831px 1936px #ffffff4c,
    1527px 249px #ffffff4c,
    36px 1381px #ffffff4c,
    1597px 581px #ffffff4c,
    1530px 355px #ffffff4c,
    949px 459px #ffffff4c,
    799px 828px #ffffff4c,
    242px 1471px #ffffff4c,
    654px 797px #ffffff4c,
    796px 594px #ffffff4c,
    1365px 678px #ffffff4c,
    752px 23px #ffffff4c,
    1630px 541px #ffffff4c,
    982px 72px #ffffff4c,
    1733px 1831px #ffffff4c,
    21px 412px #ffffff4c,
    775px 998px #ffffff4c,
    335px 1945px #ffffff4c,
    264px 583px #ffffff4c,
    158px 1311px #ffffff4c,
    528px 164px #ffffff4c,
    1978px 574px #ffffff4c,
    717px 1203px #ffffff4c,
    734px 1591px #ffffff4c,
    1555px 820px #ffffff4c,
    16px 1943px #ffffff4c,
    1625px 1177px #ffffff4c,
    1236px 690px #ffffff4c,
    1585px 1590px #ffffff4c,
    1737px 1728px #ffffff4c,
    721px 698px #ffffff4c,
    1804px 1186px #ffffff4c,
    166px 980px #ffffff4c,
    1850px 230px #ffffff4c,
    330px 1712px #ffffff4c,
    95px 797px #ffffff4c,
    1948px 1078px #ffffff4c,
    469px 939px #ffffff4c,
    1269px 1899px #ffffff4c,
    955px 1220px #ffffff4c,
    1137px 1075px #ffffff4c,
    312px 1293px #ffffff4c,
    986px 1762px #ffffff4c,
    1103px 1238px #ffffff4c,
    428px 1993px #ffffff4c,
    355px 570px #ffffff4c,
    977px 1836px #ffffff4c,
    1395px 1092px #ffffff4c,
    276px 913px #ffffff4c,
    1743px 656px #ffffff4c,
    773px 502px #ffffff4c,
    1686px 1322px #ffffff4c,
    1516px 1945px #ffffff4c,
    1334px 501px #ffffff4c,
    266px 156px #ffffff4c,
    455px 655px #ffffff4c,
    798px 72px #ffffff4c,
    1059px 1259px #ffffff4c,
    1402px 1687px #ffffff4c,
    236px 1329px #ffffff4c,
    1455px 786px #ffffff4c,
    146px 1228px #ffffff4c,
    1851px 823px #ffffff4c,
    1062px 100px #ffffff4c,
    1220px 953px #ffffff4c,
    20px 1826px #ffffff4c,
    36px 1063px #ffffff4c,
    1525px 338px #ffffff4c,
    790px 1521px #ffffff4c,
    741px 1099px #ffffff4c,
    288px 1489px #ffffff4c,
    700px 1060px #ffffff4c,
    390px 1071px #ffffff4c,
    411px 1036px #ffffff4c,
    1853px 1072px #ffffff4c,
    1446px 1085px #ffffff4c,
    1164px 874px #ffffff4c,
    924px 925px #ffffff4c,
    291px 271px #ffffff4c,
    1257px 1964px #ffffff4c,
    1580px 1352px #ffffff4c,
    1507px 1216px #ffffff4c,
    211px 956px #ffffff4c,
    985px 1195px #ffffff4c,
    975px 1640px #ffffff4c,
    518px 101px #ffffff4c,
    663px 1395px #ffffff4c,
    914px 532px #ffffff4c,
    145px 1320px #ffffff4c,
    69px 1397px #ffffff4c,
    982px 523px #ffffff4c,
    257px 725px #ffffff4c,
    1599px 831px #ffffff4c,
    1636px 1513px #ffffff4c,
    1250px 1158px #ffffff4c,
    1132px 604px #ffffff4c,
    183px 102px #ffffff4c,
    1057px 318px #ffffff4c,
    1247px 1835px #ffffff4c,
    1983px 1110px #ffffff4c,
    1077px 1455px #ffffff4c,
    921px 1770px #ffffff4c,
    806px 1350px #ffffff4c,
    1938px 1992px #ffffff4c,
    855px 1260px #ffffff4c,
    902px 1345px #ffffff4c,
    658px 1908px #ffffff4c,
    1845px 679px #ffffff4c,
    712px 1482px #ffffff4c,
    595px 950px #ffffff4c,
    1784px 1992px #ffffff4c,
    1847px 1785px #ffffff4c,
    691px 1004px #ffffff4c,
    175px 1179px #ffffff4c,
    1666px 1911px #ffffff4c,
    41px 61px #ffffff4c,
    971px 1080px #ffffff4c,
    1830px 1450px #ffffff4c,
    1351px 1518px #ffffff4c,
    1257px 99px #ffffff4c,
    1395px 1498px #ffffff4c,
    1117px 252px #ffffff4c,
    1779px 597px #ffffff4c,
    1346px 729px #ffffff4c,
    1108px 1144px #ffffff4c,
    402px 691px #ffffff4c,
    72px 496px #ffffff4c,
    1673px 1604px #ffffff4c,
    1497px 974px #ffffff4c,
    1865px 1664px #ffffff4c,
    88px 806px #ffffff4c,
    918px 77px #ffffff4c,
    244px 1118px #ffffff4c,
    256px 1820px #ffffff4c,
    1851px 1840px #ffffff4c,
    605px 1851px #ffffff4c,
    634px 383px #ffffff4c,
    865px 37px #ffffff4c,
    943px 1024px #ffffff4c,
    1951px 177px #ffffff4c,
    1097px 523px #ffffff4c,
    985px 1700px #ffffff4c,
    1243px 122px #ffffff4c,
    768px 1070px #ffffff4c,
    468px 194px #ffffff4c,
    320px 1867px #ffffff4c,
    1850px 185px #ffffff4c,
    380px 1616px #ffffff4c,
    468px 1294px #ffffff4c,
    1122px 1743px #ffffff4c,
    884px 299px #ffffff4c,
    1300px 1917px #ffffff4c,
    1860px 396px #ffffff4c,
    1270px 990px #ffffff4c,
    529px 733px #ffffff4c,
    1975px 1347px #ffffff4c,
    1885px 685px #ffffff4c,
    226px 506px #ffffff4c,
    651px 878px #ffffff4c,
    1323px 680px #ffffff4c,
    1284px 680px #ffffff4c,
    238px 1967px #ffffff4c,
    911px 174px #ffffff4c,
    1111px 521px #ffffff4c,
    1150px 85px #ffffff4c,
    794px 502px #ffffff4c,
    484px 1856px #ffffff4c,
    1809px 368px #ffffff4c,
    112px 953px #ffffff4c,
    590px 1009px #ffffff4c,
    1655px 311px #ffffff4c,
    100px 1026px #ffffff4c,
    1803px 352px #ffffff4c,
    865px 306px #ffffff4c,
    1077px 1019px #ffffff4c,
    1335px 872px #ffffff4c,
    1647px 1298px #ffffff4c,
    1233px 1387px #ffffff4c,
    698px 1036px #ffffff4c,
    659px 1860px #ffffff4c,
    388px 1412px #ffffff4c,
    1212px 458px #ffffff4c,
    755px 1468px #ffffff4c,
    696px 1654px #ffffff4c,
    1144px 60px #ffffff4c;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow:
    1448px 320px #ffffff4c,
    1775px 1663px #ffffff4c,
    332px 1364px #ffffff4c,
    878px 340px #ffffff4c,
    569px 1832px #ffffff4c,
    1422px 1684px #ffffff4c,
    1946px 1907px #ffffff4c,
    121px 979px #ffffff4c,
    1044px 1069px #ffffff4c,
    463px 381px #ffffff4c,
    423px 112px #ffffff4c,
    523px 1179px #ffffff4c,
    779px 654px #ffffff4c,
    1398px 694px #ffffff4c,
    1085px 1464px #ffffff4c,
    1599px 1869px #ffffff4c,
    801px 1882px #ffffff4c,
    779px 1231px #ffffff4c,
    552px 932px #ffffff4c,
    1057px 1196px #ffffff4c,
    282px 1280px #ffffff4c,
    496px 1986px #ffffff4c,
    1833px 1120px #ffffff4c,
    1802px 1293px #ffffff4c,
    6px 1696px #ffffff4c,
    412px 1902px #ffffff4c,
    605px 438px #ffffff4c,
    24px 1212px #ffffff4c,
    234px 1320px #ffffff4c,
    544px 344px #ffffff4c,
    1107px 170px #ffffff4c,
    1603px 196px #ffffff4c,
    905px 648px #ffffff4c,
    68px 1458px #ffffff4c,
    649px 1969px #ffffff4c,
    744px 675px #ffffff4c,
    1127px 478px #ffffff4c,
    714px 1814px #ffffff4c,
    1486px 526px #ffffff4c,
    270px 1636px #ffffff4c,
    1931px 149px #ffffff4c,
    1807px 378px #ffffff4c,
    8px 390px #ffffff4c,
    1415px 699px #ffffff4c,
    1473px 1211px #ffffff4c,
    1590px 141px #ffffff4c,
    270px 1705px #ffffff4c,
    69px 1423px #ffffff4c,
    1108px 1053px #ffffff4c,
    1946px 128px #ffffff4c,
    371px 371px #ffffff4c,
    1490px 220px #ffffff4c,
    357px 1885px #ffffff4c,
    363px 363px #ffffff4c,
    1896px 1256px #ffffff4c,
    1979px 1050px #ffffff4c,
    947px 1342px #ffffff4c,
    1754px 242px #ffffff4c,
    514px 974px #ffffff4c,
    65px 1477px #ffffff4c,
    1840px 547px #ffffff4c,
    950px 695px #ffffff4c,
    459px 1150px #ffffff4c,
    1124px 1502px #ffffff4c,
    481px 940px #ffffff4c,
    680px 839px #ffffff4c,
    797px 1169px #ffffff4c,
    1977px 1491px #ffffff4c,
    734px 1724px #ffffff4c,
    210px 298px #ffffff4c,
    816px 628px #ffffff4c,
    686px 770px #ffffff4c,
    1721px 267px #ffffff4c,
    1663px 511px #ffffff4c,
    1481px 1141px #ffffff4c,
    582px 248px #ffffff4c,
    1308px 953px #ffffff4c,
    628px 657px #ffffff4c,
    897px 1535px #ffffff4c,
    270px 931px #ffffff4c,
    791px 467px #ffffff4c,
    1336px 1732px #ffffff4c,
    1013px 1653px #ffffff4c,
    1911px 956px #ffffff4c,
    587px 816px #ffffff4c,
    83px 456px #ffffff4c,
    930px 1478px #ffffff4c,
    1587px 1694px #ffffff4c,
    614px 1200px #ffffff4c,
    302px 1782px #ffffff4c,
    1711px 1432px #ffffff4c,
    443px 904px #ffffff4c,
    1666px 714px #ffffff4c,
    1588px 1167px #ffffff4c,
    273px 1075px #ffffff4c,
    1679px 461px #ffffff4c,
    721px 664px #ffffff4c,
    1202px 10px #ffffff4c,
    166px 1126px #ffffff4c,
    331px 1628px #ffffff4c,
    430px 1565px #ffffff4c,
    1585px 509px #ffffff4c,
    640px 38px #ffffff4c,
    822px 837px #ffffff4c,
    1760px 1664px #ffffff4c,
    1122px 1458px #ffffff4c,
    398px 131px #ffffff4c,
    689px 285px #ffffff4c,
    460px 652px #ffffff4c,
    1627px 365px #ffffff4c,
    348px 1648px #ffffff4c,
    819px 1946px #ffffff4c,
    981px 1917px #ffffff4c,
    323px 76px #ffffff4c,
    979px 684px #ffffff4c,
    887px 536px #ffffff4c,
    1348px 1596px #ffffff4c,
    1055px 666px #ffffff4c,
    1402px 1797px #ffffff4c,
    1300px 1055px #ffffff4c,
    937px 238px #ffffff4c,
    1474px 1815px #ffffff4c,
    1144px 1710px #ffffff4c,
    1629px 1087px #ffffff4c,
    911px 919px #ffffff4c,
    771px 819px #ffffff4c,
    403px 720px #ffffff4c,
    163px 736px #ffffff4c,
    1062px 238px #ffffff4c,
    1774px 818px #ffffff4c,
    1874px 1178px #ffffff4c,
    1177px 699px #ffffff4c,
    1244px 1244px #ffffff4c,
    1371px 58px #ffffff4c,
    564px 1515px #ffffff4c,
    1824px 487px #ffffff4c,
    929px 702px #ffffff4c,
    394px 1348px #ffffff4c,
    1161px 641px #ffffff4c,
    219px 1841px #ffffff4c,
    358px 941px #ffffff4c,
    140px 1759px #ffffff4c,
    1019px 1345px #ffffff4c,
    274px 436px #ffffff4c,
    1433px 1605px #ffffff4c,
    1798px 1426px #ffffff4c,
    294px 1848px #ffffff4c,
    1681px 1877px #ffffff4c,
    1344px 1824px #ffffff4c,
    1439px 1632px #ffffff4c,
    161px 1012px #ffffff4c,
    1308px 588px #ffffff4c,
    1789px 582px #ffffff4c,
    721px 1910px #ffffff4c,
    318px 218px #ffffff4c,
    607px 319px #ffffff4c,
    495px 535px #ffffff4c,
    1552px 1575px #ffffff4c,
    1562px 67px #ffffff4c,
    403px 926px #ffffff4c,
    1096px 1800px #ffffff4c,
    1814px 1709px #ffffff4c,
    1882px 1831px #ffffff4c,
    533px 46px #ffffff4c,
    823px 969px #ffffff4c,
    530px 165px #ffffff4c,
    1030px 352px #ffffff4c,
    1681px 313px #ffffff4c,
    338px 115px #ffffff4c,
    1607px 211px #ffffff4c,
    1718px 1184px #ffffff4c,
    1589px 659px #ffffff4c,
    278px 355px #ffffff4c,
    464px 1464px #ffffff4c,
    1165px 277px #ffffff4c,
    950px 694px #ffffff4c,
    1746px 293px #ffffff4c,
    793px 911px #ffffff4c,
    528px 773px #ffffff4c,
    1883px 1694px #ffffff4c,
    748px 182px #ffffff4c,
    1924px 1531px #ffffff4c,
    100px 636px #ffffff4c,
    1473px 1445px #ffffff4c,
    1264px 1244px #ffffff4c,
    850px 1377px #ffffff4c,
    987px 1976px #ffffff4c,
    933px 1761px #ffffff4c,
    922px 1270px #ffffff4c,
    500px 396px #ffffff4c,
    1324px 8px #ffffff4c,
    1967px 1814px #ffffff4c,
    1072px 1401px #ffffff4c,
    961px 37px #ffffff4c,
    156px 81px #ffffff4c,
    1915px 502px #ffffff4c,
    1076px 1846px #ffffff4c,
    152px 1669px #ffffff4c,
    986px 1529px #ffffff4c,
    1667px 1137px #ffffff4c;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1448px 320px #ffffff4c,
    1775px 1663px #ffffff4c,
    332px 1364px #ffffff4c,
    878px 340px #ffffff4c,
    569px 1832px #ffffff4c,
    1422px 1684px #ffffff4c,
    1946px 1907px #ffffff4c,
    121px 979px #ffffff4c,
    1044px 1069px #ffffff4c,
    463px 381px #ffffff4c,
    423px 112px #ffffff4c,
    523px 1179px #ffffff4c,
    779px 654px #ffffff4c,
    1398px 694px #ffffff4c,
    1085px 1464px #ffffff4c,
    1599px 1869px #ffffff4c,
    801px 1882px #ffffff4c,
    779px 1231px #ffffff4c,
    552px 932px #ffffff4c,
    1057px 1196px #ffffff4c,
    282px 1280px #ffffff4c,
    496px 1986px #ffffff4c,
    1833px 1120px #ffffff4c,
    1802px 1293px #ffffff4c,
    6px 1696px #ffffff4c,
    412px 1902px #ffffff4c,
    605px 438px #ffffff4c,
    24px 1212px #ffffff4c,
    234px 1320px #ffffff4c,
    544px 344px #ffffff4c,
    1107px 170px #ffffff4c,
    1603px 196px #ffffff4c,
    905px 648px #ffffff4c,
    68px 1458px #ffffff4c,
    649px 1969px #ffffff4c,
    744px 675px #ffffff4c,
    1127px 478px #ffffff4c,
    714px 1814px #ffffff4c,
    1486px 526px #ffffff4c,
    270px 1636px #ffffff4c,
    1931px 149px #ffffff4c,
    1807px 378px #ffffff4c,
    8px 390px #ffffff4c,
    1415px 699px #ffffff4c,
    1473px 1211px #ffffff4c,
    1590px 141px #ffffff4c,
    270px 1705px #ffffff4c,
    69px 1423px #ffffff4c,
    1108px 1053px #ffffff4c,
    1946px 128px #ffffff4c,
    371px 371px #ffffff4c,
    1490px 220px #ffffff4c,
    357px 1885px #ffffff4c,
    363px 363px #ffffff4c,
    1896px 1256px #ffffff4c,
    1979px 1050px #ffffff4c,
    947px 1342px #ffffff4c,
    1754px 242px #ffffff4c,
    514px 974px #ffffff4c,
    65px 1477px #ffffff4c,
    1840px 547px #ffffff4c,
    950px 695px #ffffff4c,
    459px 1150px #ffffff4c,
    1124px 1502px #ffffff4c,
    481px 940px #ffffff4c,
    680px 839px #ffffff4c,
    797px 1169px #ffffff4c,
    1977px 1491px #ffffff4c,
    734px 1724px #ffffff4c,
    210px 298px #ffffff4c,
    816px 628px #ffffff4c,
    686px 770px #ffffff4c,
    1721px 267px #ffffff4c,
    1663px 511px #ffffff4c,
    1481px 1141px #ffffff4c,
    582px 248px #ffffff4c,
    1308px 953px #ffffff4c,
    628px 657px #ffffff4c,
    897px 1535px #ffffff4c,
    270px 931px #ffffff4c,
    791px 467px #ffffff4c,
    1336px 1732px #ffffff4c,
    1013px 1653px #ffffff4c,
    1911px 956px #ffffff4c,
    587px 816px #ffffff4c,
    83px 456px #ffffff4c,
    930px 1478px #ffffff4c,
    1587px 1694px #ffffff4c,
    614px 1200px #ffffff4c,
    302px 1782px #ffffff4c,
    1711px 1432px #ffffff4c,
    443px 904px #ffffff4c,
    1666px 714px #ffffff4c,
    1588px 1167px #ffffff4c,
    273px 1075px #ffffff4c,
    1679px 461px #ffffff4c,
    721px 664px #ffffff4c,
    1202px 10px #ffffff4c,
    166px 1126px #ffffff4c,
    331px 1628px #ffffff4c,
    430px 1565px #ffffff4c,
    1585px 509px #ffffff4c,
    640px 38px #ffffff4c,
    822px 837px #ffffff4c,
    1760px 1664px #ffffff4c,
    1122px 1458px #ffffff4c,
    398px 131px #ffffff4c,
    689px 285px #ffffff4c,
    460px 652px #ffffff4c,
    1627px 365px #ffffff4c,
    348px 1648px #ffffff4c,
    819px 1946px #ffffff4c,
    981px 1917px #ffffff4c,
    323px 76px #ffffff4c,
    979px 684px #ffffff4c,
    887px 536px #ffffff4c,
    1348px 1596px #ffffff4c,
    1055px 666px #ffffff4c,
    1402px 1797px #ffffff4c,
    1300px 1055px #ffffff4c,
    937px 238px #ffffff4c,
    1474px 1815px #ffffff4c,
    1144px 1710px #ffffff4c,
    1629px 1087px #ffffff4c,
    911px 919px #ffffff4c,
    771px 819px #ffffff4c,
    403px 720px #ffffff4c,
    163px 736px #ffffff4c,
    1062px 238px #ffffff4c,
    1774px 818px #ffffff4c,
    1874px 1178px #ffffff4c,
    1177px 699px #ffffff4c,
    1244px 1244px #ffffff4c,
    1371px 58px #ffffff4c,
    564px 1515px #ffffff4c,
    1824px 487px #ffffff4c,
    929px 702px #ffffff4c,
    394px 1348px #ffffff4c,
    1161px 641px #ffffff4c,
    219px 1841px #ffffff4c,
    358px 941px #ffffff4c,
    140px 1759px #ffffff4c,
    1019px 1345px #ffffff4c,
    274px 436px #ffffff4c,
    1433px 1605px #ffffff4c,
    1798px 1426px #ffffff4c,
    294px 1848px #ffffff4c,
    1681px 1877px #ffffff4c,
    1344px 1824px #ffffff4c,
    1439px 1632px #ffffff4c,
    161px 1012px #ffffff4c,
    1308px 588px #ffffff4c,
    1789px 582px #ffffff4c,
    721px 1910px #ffffff4c,
    318px 218px #ffffff4c,
    607px 319px #ffffff4c,
    495px 535px #ffffff4c,
    1552px 1575px #ffffff4c,
    1562px 67px #ffffff4c,
    403px 926px #ffffff4c,
    1096px 1800px #ffffff4c,
    1814px 1709px #ffffff4c,
    1882px 1831px #ffffff4c,
    533px 46px #ffffff4c,
    823px 969px #ffffff4c,
    530px 165px #ffffff4c,
    1030px 352px #ffffff4c,
    1681px 313px #ffffff4c,
    338px 115px #ffffff4c,
    1607px 211px #ffffff4c,
    1718px 1184px #ffffff4c,
    1589px 659px #ffffff4c,
    278px 355px #ffffff4c,
    464px 1464px #ffffff4c,
    1165px 277px #ffffff4c,
    950px 694px #ffffff4c,
    1746px 293px #ffffff4c,
    793px 911px #ffffff4c,
    528px 773px #ffffff4c,
    1883px 1694px #ffffff4c,
    748px 182px #ffffff4c,
    1924px 1531px #ffffff4c,
    100px 636px #ffffff4c,
    1473px 1445px #ffffff4c,
    1264px 1244px #ffffff4c,
    850px 1377px #ffffff4c,
    987px 1976px #ffffff4c,
    933px 1761px #ffffff4c,
    922px 1270px #ffffff4c,
    500px 396px #ffffff4c,
    1324px 8px #ffffff4c,
    1967px 1814px #ffffff4c,
    1072px 1401px #ffffff4c,
    961px 37px #ffffff4c,
    156px 81px #ffffff4c,
    1915px 502px #ffffff4c,
    1076px 1846px #ffffff4c,
    152px 1669px #ffffff4c,
    986px 1529px #ffffff4c,
    1667px 1137px #ffffff4c;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
