.twoColumn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 40px;
}
.colOne {
  width: 60%;
}
.contact {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
}
.email {
  font-size: 40px;
}
.resume {
  margin: 30px 0;
  font-weight: bold;
  color: var(--color-bg);
  height: 50px;
  width: 160px;
  border-radius: 38px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  transition: 300ms ease-in-out;
}
.resume:hover {
  color: var(--color-orange);
  background-color: transparent;
}
.resume:hover svg {
  stroke: var(--color-orange);
}
.resume svg {
  stroke: var(--color-bg);
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 1024px) {
  .twoColumn h1.sectionTitle {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .email {
    font-size: 30px;
  }
}
