.hero {
  height: 100%;
  line-height: 95%;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.name {
  font-size: clamp(48px, 10vw, 120px);
  line-height: 90%;
  font-weight: bold;
}
.subtext {
  display: flex;
  margin-top: 20px;
  line-height: 110%;
}
.subtext p {
  font-size: clamp(16px, 2vw, 20px);
  max-width: 400px;
  width: 100%;
}
.rainbow {
  animation: color-cycle 4s infinite ease-in-out;
}
@keyframes color-cycle {
  0% {
    color: #d85140;
  }
  25% {
    color: #3555b4;
  }
  50% {
    color: #38935b;
  }
  75% {
    color: #f6b90b;
  }
  100% {
    color: #d85140;
  }
}
